.headline-landing {
  width: 100%;
  height: 100vh;
  background-image: url("../Assets/Landing/headline-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: calc(10vw - 32px);
}

.headline-landing div {
  max-width: 552px;
}

.headline-caps {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 24px;
}

.headline-caps span {
  display: inline-block;
  color: #479FE2;
}

.headline-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 24px;
}

.button-landing-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.register-button-landing {
  width: 40%;
  background-color: #3093de;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.register-button-landing-bottom {
  width: 20%;
  background-color: #3093de;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#goals {
  margin: 48px 0;
}

#goals > p,
.feature-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.goals-container {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.goal-card {
  max-width: 384px;
  height: fit-content;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  padding: 48px 32px;
  text-align: center;
}

.goal-image {
  width: 100%;
  max-height: 286px;
}

.goal-title,
.feature-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 24px 0 8px 0;
}

#feature {
  display: flex;
  justify-content: center;
}

.feature-container {
  width: 100%;
  max-width: 840px;
  height: fit-content;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  padding: 24px;
}

.feature-subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #6d7280;
  text-align: center;
  margin-top: 8px;
}

.feature-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 32px;
  gap: 24px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 384px;
  height: fit-content;
  border-radius: 15px;
  text-align: center;
  padding: 32px 24px;
}

#reviews {
  width: 100%;
  height: fit-content;
  background: #F1F9FF;
  margin-bottom: 24px;
}

.reviews-container {
  display: flex;
  justify-content: space-around;
  padding: 48px 0;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 359px;
  height: fit-content;
  text-align: justify;
  gap: 16px;
}

.quote {
  font-size: 75px;
  font-weight: bold;
  text-align: center;
}

@media (width <= 904px) {
  .headline-landing {
    padding: 0 16px;
  }

  .headline-caps {
    font-size: 24px;
  }

  .goals-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .reviews-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (width <= 600px) {
  .register-button-landing {
    width: 70%;
  }

  .register-button-landing-bottom {
    width: 50%;
  }

  .feature-content-container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .feature-card {
    max-width: 100%;
  }
}